.kasa-apropos{
    margin: 5em auto 3em auto;
    width: 70%;
    height: fit-content;
}

.item{
    margin: 1em auto;
}

.title {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    height: 3em;
    font-size: 1em;
    padding-left: 1em;
}

.btn-arrow{
    width: 100%;
    text-align: end;
    border: none;
    background: none;
    margin-right: 1em;
    cursor: pointer;
}

.arrow, .arrow.active{
    cursor: pointer;
}

.arrow.active{
     transform: rotate(180deg);
}

.content {
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: all cubic-bezier(0,1,0,1);
}

.content.show{
    height: auto;
    max-height: 9999px;
    transition: all cubic-bezier(1,0,1,0);
    background-color: #F7F7F7;
    border-radius: 0px 0px 5px 5px;
    color: #FF6060;
}

.content-para{
    margin: 2em 1em 0.5em 1em;
    /* display: block; */
}

@media screen and (max-width: 767px) {
    .kasa-apropos{
        margin: 7em auto 3em auto;
        width: 85%;
    }

    .title{
        font-size: 0.9em;
    }

    .kasa-apropos-p{
        padding: 0.5em 0.7em 1em 0.7em;
        font-size: 0.8em;
    }
}