.error-content{
    text-align: center;
}

.kasa-error-title{
    margin-top: 4em;
    margin-bottom: 0em;
    color: #FF6060; 
    font-size: 12em;
    font-weight: 800;
}

.kasa-error-para{
    position: relative;
    top: -27em;
    color: #FF6060; 
    font-size: 1.5em;
}

.kasa-error-link{
    position: relative;
    top: -35em;
    margin-bottom: 0;
}