.error-content{
    text-align: center;
}

.kasa-error-title{
    margin-bottom: 0em;
    color: #FF6060; 
    font-size: 12em;
    font-weight: 800;
}

.kasa-error-para{
    color: #FF6060; 
    font-size: 1.5em;
    margin-bottom: 10em;
}

.kasa-error-link{
    color: #FF6060; 
}

@media screen and (max-width: 767px) {
    .error-content{
        width: 100%;
    }

    .kasa-error-title{
        margin-top: 1em;
        font-size: 7em;
    }

    .kasa-error-para{
        color: #FF6060; 
        font-size: 1em;
        width: 50%;
        margin: 0 auto 7em auto;
    }

    .kasa-error-link{
        margin: 3em 0;
    }
}