.kasa-banner{
    text-align: center;
    margin-top: 3em;
    margin-bottom: -4em;
}

.kasa-banner-img{
    border-radius: 25px;
    width: 85%;
    height: 11em;
    filter: brightness(70%);
}

.kasa-home-h1{
    position: relative;
    top: -3.5em;
    color: white;
    font-size: 2.5em;
}

.kasa-annonce{
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    border-radius: 25px;
    width: 85%;
    margin: auto;
    padding: 1em 0em 2em 1em;
}

@media screen and (max-width: 767px) {

    .kasa-banner{
        margin-bottom: -5em;
    }

    .kasa-banner-img{
        object-fit: cover;
        border-radius: 15px;
        width: 85%;
        height: 8em;
        filter: brightness(70%);
    }

    .kasa-home-h1{
        width: 51%;
        text-align: left;
        top: -4.5em;
        left: 2em;
        font-size: 1.5em;
    }
    
}