/* Contient l'aspect général de l'application */

body {
  margin: 3em auto;
  max-width: 1440px;
  /* width: 100%; */
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
